.HomeHeader {
  background-color: #15172b;
  color: aliceblue;
  height: 20vh;
  font-size: 5vh;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  width: 10vw;
  margin-right: 2vw;
}

.Home{
  display: flex;
  justify-content: space-around;
}

.HomeAbout {
  width: 30vw;
  font-size: 2.5vh;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  text-align: center;

}

.DivLine {
  border: 1px solid black;
}

.HomeForms {
  display: flex;
  width: 35vw;
  align-items: center;
  justify-content: space-around;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: inherit;
  padding: 1vw;
  width: 15vw;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #ffffff;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}


.WelcomeHeader {
  margin-left: 2vw;
  font-size: 5vh;
}

.DashDiv {
  display: flex;
  margin: 2vw;
  justify-content: space-around;
}

.RecentTrans {
  width: 35vw;
}

.DashForms {
  display: flex;
  width: 35vw;
  align-items: center;
  justify-content: space-around;
}

.TransTable {
  font-size: 2vh;
}

.table {
	width:100%;
}

.table-header {
	display:flex;
	width:100%;
	background:#303245;
  color: white;
}

.table-row {
	display:flex;
	width:100%;
}

.table-content > :nth-of-type(odd){
  background-color: rgb(209, 209, 209);
} 

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}